
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    
}

.Home{
    
    text-align: center;
    /* 
    position: absolute;
    left: 50%;
    transform: translateX(-50%); */
    /* background-color: black; */

}

.Home-logo{
        width: 200px;

}

.Home-header{
    color: black;
}


